@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap");
body {
	/* font-family: "Nunito", sans-serif; */
	font-family: "Ubuntu", sans-serif;
}
.custom-flex {
	display: flex;
}
.custom-flex-col {
	flex-direction: column;
}
.custom-justify-center {
	justify-content: center;
}

.custom-navbar {
	background-color: rgba(255, 255, 255, 0custom-8);
	padding: 10px 20px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
}

.custom-navbar-container {
	max-width: 1200px;
	margin: auto;
}

.custom-navbar-left {
	flex: 1;
	text-align: center;
}

.custom-nav-link {
	margin-right: 20px;
	text-decoration: none;
	color: #333;
	font-size: 18px;
}

.custom-navbar-right .custom-search-input {
	padding: 10px;
	border: 1px solid #333;
	border-radius: 5px;
	margin-right: 10px;
}

.custom-navbar-right .custom-nav-link {
	font-size: 18px;
}

.custom-sign-in-button {
	background-color: #2bb2f0;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	transition: background-color 0custom-3s;
}
.custom-sign-in-button :hover {
	padding: 15px 20px;
	border: 1px solid #2bb2f0;
	color: #2bb2f0;
	background-color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
	transition: background-color 0custom-3s, color 0custom-3s;
}
.custom-hero-section {
	justify-content: space-between;
	align-items: center;
	padding: 35px 5px 35px 50px;
	/* margin-left: 100px; */
	/* background-color: #2bb2f0; */
}

.custom-hero-content {
	flex: 1;
	z-index: 1;
	max-width: 50%;
}

.custom-hero-content h1 {
	font-size: 48px;
	font-weight: bold;
}

.custom-hero-content p {
	font-size: 24px;
	margin-bottom: 20px;
}

.custom-order-now-button {
	display: inline-block;
	padding: 15px 20px;
	background-color: #2bb2f0;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
	transition: background-color 0custom-3s;
	width: 100px;
}

.custom-order-now-button:hover {
	padding: 15px 20px;
	border: 1px solid #2bb2f0;
	color: #2bb2f0;
	background-color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
	transition: background-color 0custom-3s, color 0custom-3s;
}
.custom-hero-image {
	/* width: 70%; */
	justify-content: right;
	align-items: right;
}
.custom-hero-image img {
	/* max-width: 100%; */
	/* height: 700px; */
	width: 105%;
}
/* ------------------------------------------------------------------- */

.custom-tiffin-centres-section {
	text-align: center;
	margin-top: 50px;
}

.custom-tiffin-centres-section h1 {
	font-size: 48px;
	font-weight: bold;
}

.custom-tabs {
	margin-top: 20px;
	display: inline-block;
}

.custom-tab {
	background-color: #2bb2f0;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0custom-3s;
}

.custom-tab:not(.custom-active-tab) {
	background-color: #fff;
	color: #2bb2f0;
}

.custom-tab-content {
	padding: 50px 5%;
	/* background-color: #f9f9f9; */
	border-radius: 5px;
	margin-top: 10px;
	text-align: left;
	justify-content: space-between;
}

.custom-active-tab {
	background-color: #2bb2f0;
}

.custom-tab-content h3 {
	color: #333;
}

.custom-tab-content p {
	font-size: 16px;
}

.custom-product-card {
	width: 25%;
	position: relative;
	box-shadow: 0 2px 7px #dfdfdf;
	margin: 10px auto;
	background: #fafafa;
	border-radius: 25px;
	margin: 0px 1rem;
}

.custom-badge0 {
	position: absolute;
	text-transform: uppercase;
	right: 10px;
	font-size: 13px;
	top: 15px;
	border-radius: 25px;
	font-weight: 700;
	background: #8a2be2;
	color: #fff;
	padding: 3px 6px;
}
.custom-badge1 {
	position: absolute;
	text-transform: uppercase;
	right: 10px;
	font-size: 13px;
	top: 15px;
	border-radius: 25px;
	font-weight: 700;
	background: #ffa500;
	color: #fff;
	padding: 3px 5px;
}

.custom-product-tumb {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	background: #f0f0f0;
	border-radius: 25px;
}

.custom-product-tumb img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.custom-product-details {
	padding: 20px;
}

.custom-product-catagory {
	display: block;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #222121;
	margin-bottom: 18px;
}

.custom-product-details h6 a {
	font-weight: 400;
	font-size: 14px;
	display: block;
	margin-bottom: 14px;
	text-transform: capitalize;
	color: #67c5b3;
	text-decoration: none;
	transition: 0custom-3s;
}

.custom-product-details h6 a:hover {
	color: #222121;
}

.custom-product-bottom-details {
	overflow: hidden;
	padding-top: 10px;
	justify-content: space-between;
}

.custom-product-bottom-details div {
	float: left;
	/* width: 50%; */
}

.custom-product-price {
	font-size: 18px;
	color: #222121;
	font-weight: 600;
}

.custom-product-price small {
	font-size: 80%;
	font-weight: 400;
	text-decoration: line-through;
	display: inline-block;
	margin-right: 5px;
}
.custom-cart-icon {
	background-color: white;
	border: #2bb2f0 2px solid;
	color: white;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	right: 5px;
}
.custom-cart-icon img {
	width: 20px;
	height: 20px;
	color: #2bb2f0;
}
/* -------------------------------------------------------------------------------- */
.custom-event-promotion-section {
	text-align: center;
	margin-top: 100px;
}

.custom-event-promotion-section h2 {
	font-size: 48px;
	font-weight: bold;
}
/* .custom-event-promotion-section .custom-see-all-link {
    position: absolute;
    top: 0;
    right: 0;
    color: #2bb2f0;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.custom-3s;
}

.custom-see-all-link:hover {
    color: #2bb2f0;
} */
.custom-event-cards {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	padding: 50px 10%;
}

.custom-event-card {
	position: relative;
	width: 45%;
}

.custom-event-image img {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}

.custom-explore-button {
	position: absolute;
	bottom: 20%;
	left: 20%;
	transform: translate(-50%, -50%);
}

/* .custom-explore-now-button {
    background-color: #2bb2f0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.custom-3s;
} */

.custom-explore-now-button:hover {
	background-color: #2bb2f0;
}
/* ------------------------------------------------------------------------------------------------- */
.custom-our-story-section {
	position: relative;
	/* height: 100vh; */
	text-align: center;
	margin-top: 100px;
}
.custom-our-story-section h2 {
	font-size: 48px;
	font-weight: bold;
}

.custom-video-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-top: 10px;
	padding: 50px 0;
}

.custom-video-container video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.custom-play-button {
	position: absolute;
	bottom: 10%;
	right: 5%;
	transform: translate(-50%, -50%);
}

.custom-watch-video-button {
	display: flex;
	align-items: center;
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 15px 30px;
	border-radius: 5px;
	font-size: 18px;
	transition: background-color 0custom-3s;
}

.custom-watch-video-button i {
	margin-right: 10px;
}

.custom-watch-video-button:hover {
	background-color: #333;
}
/* ------------------------------------------------------------------------------------------ */
.custom-whats-new-section {
	display: flex;
	margin: 50px 0;
	padding: 50px 8%;
	justify-content: space-between;
}

.custom-whats-new-content {
	padding: 20px;
	justify-content: space-between;
	/* width: 30%; */
}
.custom-whats-new-section h2 {
	font-size: 48px;
	font-weight: bold;
}
.custom-whats-new-section p {
	padding-right: 30px;
}
.custom-section-heading {
	font-weight: bold;
	font-size: 24px;
}
.custom-exp_and_arr {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.custom-explore-button-1 {
	display: flex;
	width: 50%;
}

.custom-explore-now-button {
	padding: 10px 20px;
	border: 2px solid #2bb2f0;
	color: #2bb2f0;
	background-color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 18px;
	transition: background-color 0custom-3s, color 0custom-3s;
}

.custom-explore-now-button:hover {
	background-color: #2bb2f0;
	color: white;
}

.custom-arrow-icons {
	font-size: 24px;
	margin-top: 10px;
	width: 30%;
	justify-content: space-around;
}

.custom-arrow_2 {
	color: #4ea1c7;
}

.custom-arrow_1 {
	color: #00aeff;
}
.custom-card {
	flex: 1;
	margin: 0 20px;
	width: 400px;
	box-shadow: 0 2px 7px #dfdfdf;
	border-radius: 10px;
}

.custom-card img {
	max-width: 100%;
	height: 35vh;
	border-radius: 10px 10px 0 0;
}

.custom-card-content {
	padding: 10px;
	/* background-color: #f9f9f9; */
	border-radius: 5px;
	margin-top: 20px;
}

.custom-card-content h3 {
	font-weight: bold;
	font-size: 20px;
}

.custom-card-content p {
	font-size: 16px;
	margin-top: 20px;
}
/* ------------------------------------------------------------------------------------------ */
.custom-main-footer {
	display: flex;
	justify-content: space-between;
	background-color: #222121;
	color: rgb(160, 155, 155);
	padding: 20px;
	height: 50vh;
	align-items: center;
}

.custom-footer-section_1 {
	flex: 1;
	margin-right: 20px;
	justify-content: center;
	width: 60%;
}
.custom-footer-section {
	/* flex: 1; */
	width: 40%;
	justify-content: end;
}
.custom-footer-list {
	margin-right: 13%;
}
.custom-footer-list h4 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #dfdfdf;
}
.custom-footer-list ul {
	list-style-type: none;
	padding: 0;
}

.custom-footer-list ul li {
	margin: 20px 0;
}
.custom-footer-list ul li a {
	color: rgb(160, 155, 155);
	text-decoration: none;
}
.custom-subscribe h4 {
	display: flex;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #dfdfdf;
}
.custom-subscribe p {
	display: flex;
	padding: 10px 0;
}
.custom-subscribe-form {
	display: flex;
	margin: 5px 0 25px 0;
}

.custom-subscribe-form input {
	/* flex: 1; */
	font-size: 18px;
	padding: 10px;
	border: 1px solid #ccc;
	border-right: 0;
	border-radius: 10px 0 0 10px;
	background-color: #333;
	width: 50%;
	color: #dfdfdf;
}

.custom-subscribe-button {
	font-size: 18px;
	padding: 10px 20px;
	background-color: #2bb2f0;
	color: white;
	border: none;
	border-radius: 0 10px 10px 0;
	/* margin-left: 10px; */
	cursor: pointer;
}

.custom-social-icons i {
	font-size: 24px;
	margin-right: 12px;
}

.custom-copyright {
	margin-top: 20px;
	font-size: 14px;
}
.custom-copyright a {
	text-decoration: none;
	color: rgb(160, 155, 155);
	padding: 0 5px;
}
